html,
body,
section {
    block-size: 100%;
}

html {
    scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}

section {
    background: transparent;
}


body {
    margin: 0;
    font-family: system-ui, sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

body {
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top: 50vh;

}

.context h1 {
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area {
    background-color: black;
    filter: blur(2px);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    height: 20px;
    color: white;
    animation: animate 25s linear infinite;
    left: -500px;
    border-radius: 10%;
}

.circles li:nth-child(1) {
    bottom: 90%;
    width: auto;
    animation-delay: 0s;
    color: red;
}

.circles li:nth-child(2) {
    bottom: 10%;
    width: auto;
    animation-delay: 2s;
    color: green;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    bottom: 70%;
    width: auto;
    color: yellow;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    bottom: 40%;
    width: auto;
    color: #74F0ED;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    bottom: 65%;
    width: auto;
    color: #D76F30;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    bottom: 75%;
    color: #DE5935;
    width: auto;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    bottom: 35%;
    width: auto;
    color: #F92C85;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    bottom: 50%;
    width: auto;
    animation-delay: 15s;
    animation-duration: 45s;
    color: #2568FB;
}

.circles li:nth-child(9) {
    bottom: 20%;
    width: auto;
    animation-delay: 2s;
    color: #A0AECD;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    bottom: 45%;
    width: auto;
    color: #394F8A;
    animation-delay: 0s;
    animation-duration: 11s;
}

.circles li:nth-child(12) {
    bottom: 10%;
    width: auto;
    animation-duration: 15s;
    animation-delay: 10s;
    color: #ABF62D;
}

.circles li:nth-child(11) {
    bottom: 0px;
    width: auto;
    animation-duration: 20s;
    color: #D6A3FB;
    animation-delay: 5s;
}

.circles li:nth-child(13) {
    bottom: 50%;
    width: auto;
    animation-duration: 20s;
    color: lightblue;
    animation-delay: 5s;
}

.circles li:nth-child(14) {
    bottom: 40%;
    width: auto;
    animation-duration: 20s;
    color: pink;
    animation-delay: 5s;
}


.circles li:nth-child(15) {
    bottom: 60%;
    width: auto;
    animation-duration: 20s;
    color: hotpink;
    animation-delay: 2s;
}

.circles li:nth-child(16) {
    bottom: 90%;
    width: auto;
    animation-duration: 20s;
    color: lightblue;
    animation-delay: 5s;
}

.circles li:nth-child(17) {
    bottom: 95%;
    width: auto;
    animation-duration: 15s;
    color: blueviolet;
    animation-delay: 5s;
}

.circles li:nth-child(18) {
    bottom: 85%;
    width: auto;
    animation-duration: 20s;
    color: lavender;
    animation-delay: 5s;
}

.circles li:nth-child(19) {
    bottom: 80%;
    width: auto;
    animation-duration: 10s;
    color: palegoldenrod;
    animation-delay: 5s;
}

.circles li:nth-child(20) {
    bottom: 70%;
    width: auto;
    animation-duration: 20s;
    color: orange;
    animation-delay: 8s;
}

.circles li:nth-child(21) {
    bottom: 75%;
    width: auto;
    animation-duration: 20s;
    color: darkblue;
    animation-delay: 1s;
}

@keyframes animate {

    0% {
        transform: translateY(0);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateX(2000px);
        opacity: 1;
        border-radius: 50%;
    }

}

section:first-child div {
    text-align: center;
}

section div h1 {
    text-align: center;
    font-size: 100px;
    padding: 0px;
    margin: 0px;
}

.text {
    text-transform: uppercase;
    font-family: verdana;
    font-size: 9em;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
        1px 18px 6px rgba(16, 16, 16, 0.4),
        1px 22px 10px rgba(16, 16, 16, 0.2),
        1px 25px 35px rgba(16, 16, 16, 0.2),
        1px 30px 60px rgba(16, 16, 16, 0.4);
}

.home{
    text-align: center;
}

.home p {
    letter-spacing: 2px;
    font-family: verdana;
    color: white;
    font-size: 3rem;
    padding: 0px;
    margin: 5px;
}

.as {
    color: white;
    text-align: left;
    width: 500px;
    margin: 20px 10px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
    flex-wrap: wrap;
    padding: 20px 50px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(125, 130, 194, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.achievements .card {
    width: 300px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: rgb(240, 240, 240);
    margin: 20px;

    img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.9;
        transition: opacity .2s ease-out;
    }

    h2 {
        position: absolute;
        inset: auto auto 30px 30px;
        margin: 0;
        transition: inset .3s .3s ease-out;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: normal;
        text-transform: uppercase;
    }

    p {
        position: absolute;
        opacity: 0;
        max-width: 80%;
        transition: opacity .3s ease-out;
        font-size: smaller;
        text-align: left;
    }

    p {
        inset: auto auto 30px 30px;
    }

    &:hover {
        box-shadow: 0 0px 50px 10px rgba(248, 246, 246, 0.2);

    }

    &:hover h2 {
        inset: auto auto 180px 30px;
        transition: inset .3s ease-out;
    }

    &:hover p {
        opacity: 1;
        transition: opacity .5s .1s ease-in;
    }

    &:hover img {
        transition: opacity .3s ease-in;
        opacity: 1;
    }

}

.list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.profile-card {
    width: 300px;
    height: 400px;
    background-color: grey;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.profile-card:hover {
    background: linear-gradient(#0d61ec, #de0f82);
    transform: scale(1.1);
}

.profile-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 50px 0px 10px 0px;
}

.profile-card h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 5px;
}

.profile-card p {
    padding: 0px;
    margin: 0px;
}

.profile-card ul {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.profile-card ul a {
    margin: 10px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 10px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.profile-card ul a:hover {
    transform: scale(1.5);
}

.profile-card ul a:nth-child(1):hover {
    background: linear-gradient(rgb(221, 126, 142), rgb(199, 92, 92));
    color: white;
}


.profile-card ul a:nth-child(2):hover {
    background: linear-gradient(rgb(126, 136, 221), rgb(40, 27, 221));
    color: white;
}

.profile-card ul a:nth-child(3):hover {
    background: linear-gradient(rgb(147, 126, 221), rgb(94, 92, 199));
    color: white;
}

.profile-card ul a:nth-child(4):hover {
    color: white;
    background: linear-gradient(rgb(44, 43, 43), rgb(199, 92, 92));
}

.podcast img {
    width: 200px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.podcast {
    display: flex;
    width: 400px;
    margin: 100px;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.podcast div:nth-child(2) {
    scale: 1.1;
    z-index: 2;
}

.podcast div:first-child {
    transform: rotateZ(-20deg);
    scale: 0.8;
}

.podcast div:first-child img {
    height: 450px;
}

.podcast div:last-child {
    scale: 0.8;
    transform: rotateZ(20deg);
}

.podcast div:last-child img {
    height: 450px;
}

.content {
    margin: 0px;
    text-align: center;
    width: 500px;
}

.content h2 {
    color: lime;
    letter-spacing: 1px;
    font-size: 30px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.sp {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.content a{
    font-size: x-large;
    text-decoration: none;
    background-color: lime;
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
    letter-spacing: 2px;
    text-align: center;
    border: 1px solid transparent;
}

.content a:hover{
    background-color: black;
    color: lime;
    border-color: lime;
}